:root {
    /* --primary: #081225; */
    --primary: #162e5b;
    --primary-light: #162e5b;
    --secondary: #ef6f7f;
    --secondary-light: #e898a6;
    /* Background of Sidebar */
    --headline: #f0f3f4;
     /*Background od Card  */
    --main: #ffffff;  
    --tertiary: #4fc194;
    --ternary: #cccccc;
    --ternary-light: rgb(153,159,187, 0.85);
    --slate: #cbd5e1;
  }
  *{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
h1, h2, h3, h4, h5, h6, span,label {
  color: var(--primary);
}

p {
  color: var(--primary-color);
}
body{
  background-color: var(--slate);
}
a{
  text-decoration: none;
}
ul,li{
  list-style: none;
}
ul{
  margin: 0;
  padding:0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;



@import 'tailwindcss/utilities';
@import 'tailwindcss/base';
@import 'tailwindcss/components';


.app-select {
  @apply border-ternary_light border-solid border-2 rounded-full text-xl px-8 py-1 focus:outline-none focus:border-primary
  }


